---
- job:
    name: {{ JOB_NAME }}
    project-type: pipeline
    triggers:
      - timed: {% if 'daily-ipi4.13-powervs-montreal01' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-ipi4.13-powervs-sydney05' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-ipi4.13-powervs-london06' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-ipi4.13-powervs-osaka21' in JOB_NAME %}"0 */12 * * *  "

        {% elif 'daily-ocp4.12-powervs-script-sydney05-p9-min' in JOB_NAME %}"0 00 * * 1,3,5 "

        {% elif 'daily-ocp4.12-powervs-sydney04-hypershift-e2e' in JOB_NAME %}"0 00 * * * "

        {% elif 'daily-ocp4.11-to-4.12-powervm-p8-min-upgrade' in JOB_NAME %}"00 00 * * 1,3,5 "

        {% elif 'daily-ocp4.13-powervm-p9-verification' in JOB_NAME %}"00 02 * * 2 "
        {% elif 'daily-ocp4.13-powervm-p9-min' in JOB_NAME %}"00 05 * * * "
        {% elif 'daily-ocp4.13-powervm-p9-sriov' in JOB_NAME %}"00 08 * * 3 "
        {% elif 'daily-ocp4.13-powervm-p9-sdn-min' in JOB_NAME %}"00 08 * * 4 "
        {% elif 'daily-ocp4.13-powervm-p9-vscsi' in JOB_NAME %}"00 08 * * 5 "

        {% elif 'daily-odf4.13-powervm-p9-tier-1' in JOB_NAME %}"00 01 * * * "
        {% elif 'daily-odf4.13-powervm-p9-tier-3' in JOB_NAME %}"00 19 * * * "

        {% elif 'daily-odf4.13-powervm-p9-tier-2' in JOB_NAME %}"00 02 * * 1,3,5,7 "
        {% elif 'daily-odf4.13-powervm-p9-tier-4b' in JOB_NAME %}"00 03 * * 1,3,5,7 "
        {% elif 'daily-odf4.13-powervm-p9-tier-4c' in JOB_NAME %}"00 04 * * 2,4,6 "

        {% elif 'mirror-openshift-release' in JOB_NAME %}"@hourly"
        {% elif 'poll-powervc-images' in JOB_NAME %}"@daily"
        {% elif 'poll-powervs-images' in JOB_NAME %}"@daily"
        {% elif 'daily-jenkins-backup-job' in JOB_NAME %}"@daily"
        {% else %}""
        {% endif %}
    sandbox: true
    concurrent: true
    properties:
      - copyartifact:
          projects: "*"
      {% if 'mirror-openshift-release' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 200
          artifact-num-to-keep: 200
      {% elif 'daily-ipi' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 50
          artifact-num-to-keep: 50
      {% else %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% endif %}
    pipeline-scm:
      scm:
        - git:
            url: https://github.com/ppc64le-cloud/jenkins-infra.git
            branches:
              - master
            credentials-id: github
            clean: true
      script-path: {{ JENKINS_FILE }}
