---
- job:
    name: {{ JOB_NAME }}
    project-type: pipeline
    triggers:
      - timed: {% if 'daily-powervs-montreal01-p9-stability-check' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-powervs-osaka21-p9-stability-check' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-powervs-sydney-p9-stability-check' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-powervs-london06-p9-stability-check' in JOB_NAME %}"0 */12 * * * "
        {% elif 'daily-powervs-toronto-p9-stability-check' in JOB_NAME %}"0 */12 * * * "

        {% elif 'daily-ocp4.10-powervs-toronto01-p9-min' in JOB_NAME %}"0 00 * * * "
        {% elif 'daily-ocp4.12-powervs-toronto01-p9-min' in JOB_NAME %}"0 03 * * * "

        {% elif 'daily-ipi4.11-powervs-london06' in JOB_NAME %}"0 00 * * * "
        {% elif 'daily-ipi4.12-powervs-london06' in JOB_NAME %}"0 04 * * * "
        {% elif 'daily-ipi4.11-powervs-osaka21' in JOB_NAME %}"0 03 * * * "
        {% elif 'daily-ipi4.11-powervs-toronto01' in JOB_NAME %}"0 06 * * * "
        {% elif 'daily-ipi4.12-powervs-toronto01' in JOB_NAME %}"0 09 * * * "

        {% elif 'daily-ocp4.6-powervs-script-montreal01-p9-min' in JOB_NAME %}"0 00 * * * "
        {% elif 'daily-ocp4.7-powervs-script-montreal01-p9-min' in JOB_NAME %}"0 03 * * * "
        {% elif 'daily-ocp4.8-powervs-script-montreal01-p9-min' in JOB_NAME %}"0 06 * * *"
        {% elif 'daily-ocp4.9-powervs-script-montreal01-p9-min' in JOB_NAME %}"0 09 * * *"
        {% elif 'daily-ocp4.11-powervs-montreal01-p9-min' in JOB_NAME %}"0 12 * * * "
        {% elif 'daily-ocp4.12-powervs-script-montreal01-p9-scale' in JOB_NAME %}"0 15 * * *"

        {% elif 'daily-ocp4.12-powervs-script-sydney05-p9-min' in JOB_NAME %}"0 00 * * * "
        {% elif 'daily-ocp4.11-powervs-script-sydney05-p9-latest' in JOB_NAME %}"0 03 * * * "
        
        {% elif 'daily-odf4.12-powervs-syd05-tier-1' in JOB_NAME %}"0 07 * * * "
        {% elif 'daily-odf4.12-powervs-lon06-tier-2' in JOB_NAME %}"0 07 * * * "
        {% elif 'daily-odf4.12-powervs-syd05-tier-3' in JOB_NAME %}"0 17 * * * "
        {% elif 'daily-odf4.12-powervs-lon06-tier-4b' in JOB_NAME %}"0 23 * * * "
        {% elif 'daily-odf4.12-powervs-syd05-tier-4c' in JOB_NAME %}"0 23 * * * "

        {% elif 'daily-ocp4.6-powervm-p8-min' in JOB_NAME %}"00 07 * * * "
        {% elif 'daily-ocp4.6-to-4.7-powervm-p8-min-upgrade' in JOB_NAME %}"30 07 * * 1"
        {% elif 'daily-ocp4.7-to-4.8-powervm-p8-min-upgrade' in JOB_NAME %}"30 07 * * 2"
        {% elif 'daily-ocp4.8-to-4.9-powervm-p8-min-upgrade' in JOB_NAME %}"30 07 * * 3"
        {% elif 'daily-ocp4.9-to-4.10-powervm-p8-min-upgrade' in JOB_NAME %}"30 07 * * 4"
        {% elif 'daily-ocp4.10-to-4.11-powervm-p8-min-upgrade' in JOB_NAME %}"30 07 * * 5,6"
        {% elif 'daily-ocp4.9-powervm-p8-min' in JOB_NAME %}"00 08 * * * "


        {% elif 'daily-ocp4.7-powervm-p9-min' in JOB_NAME %}"00 09 * * *  "
        {% elif 'daily-ocp4.8-powervm-p9-min' in JOB_NAME %}"00 13 * * * "
        {% elif 'daily-ocp4.10-powervm-p9-min' in JOB_NAME %}"00 17 * * * "
        {% elif 'daily-ocp4.11-powervm-p9-max' in JOB_NAME %}"00 22 * * *  "
        {% elif 'daily-ocp4.12-powervm-p9-sriov' in JOB_NAME %}"30 01 * * *  "

        {% elif 'daily-ocp4.10-powervm-p10-min' in JOB_NAME %}"00 18 * * *  "
        {% elif 'daily-ocp4.12-powervm-p10-ovn-min' in JOB_NAME %}"30 21 * * * "
        {% elif 'daily-ocp4.12-powervm-p10-max' in JOB_NAME %}"00 22 * * *  "
        {% elif 'daily-ocp4.11-powervm-p10-ssp' in JOB_NAME %}" "
        {% elif 'daily-ocp4.12-powervm-p10-vscsi' in JOB_NAME %}"30 5 * * *  "
        {% elif 'daily-ocp4.12-powervm-p10-min' in JOB_NAME %}"30 09 * * *  "


        {% elif 'mirror-openshift-release' in JOB_NAME %}"@hourly"
        {% elif 'poll-powervc-images' in JOB_NAME %}"@daily"
        {% elif 'poll-powervs-images' in JOB_NAME %}"@daily"
        {% elif 'daily-jenkins-backup-job' in JOB_NAME %}"@daily"
        {% else %}""
        {% endif %}
    sandbox: true
    concurrent: true
    properties:
      - copyartifact:
          projects: "*"
      {% if 'mirror-openshift-release' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 200
          artifact-num-to-keep: 200
      {% else %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% endif %}
    pipeline-scm:
      scm:
        - git:
            url: https://github.com/ppc64le-cloud/jenkins-infra.git
            branches:
              - master
            credentials-id: github
            clean: true
      script-path: {{ JENKINS_FILE }}
